@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); /* Main Font */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap"); /* MPS Vihnga */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap"); /* Need info */
/* -------- Home page --------- */
/* -------- About page --------- */
/* -------- About page buttons--------- */
:root {
  --primary: #01EFFF;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

/* -------- Portfolio page / Resume Page--------- */
/* -------- Service page --------- */
/* -------- Footer --------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%; /* 16px * 0.625 = 10px */
}

.about-me {
  position: relative;
  background-color: #021c3b;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.about-heading {
  flex-grow: 0.5;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #F3FFFF;
  font-size: 3.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5rem;
}

.about-container {
  flex-grow: 3;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-between;
}

.abt-img-container {
  /*border: 1px solid yellow;*/
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.img-container {
  /*border: 1px solid deeppink;*/
  flex-grow: 2;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.img-shadow-container {
  /*border: 1px solid green;*/
  position: absolute;
  top: 4rem;
  left: 1rem;
  width: 100%;
  height: 65%;
  background: #01EFFF;
  clip-path: polygon(0 0, 80% 0, 60% 100%, 0 100%);
  border-radius: 2rem 0 0 2rem/2rem 0 0 2rem;
}

.img-holder-container {
  /*border: 1px solid green;*/
  position: absolute;
  top: 5.4rem;
  left: 2.1rem;
  width: 90%;
  height: 60%;
  background: radial-gradient(ellipse at bottom, #062f68 0%, #021c3b 100%);
  border-radius: 20px 20px 20px 20px/20px 20px 20px 20px;
}

.vihanga-img {
  position: absolute;
  top: 3rem;
  left: 1rem;
  width: 100%;
  height: 85%;
  mask-image: url("../image/mask-image.png");
  -webkit-mask-image: url("../image/mask-image.png");
  mask-position: bottom;
  -webkit-mask-position: bottom;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 45rem;
  -webkit-mask-size: 45rem;
}

/* ------------ Quality Container ------------- */
.quality-container {
  /*border: 1px solid deeppink;*/
  flex-grow: 1.8;
}

.quality-holder-container {
  /*border: 1px solid white;*/
  position: relative;
  width: 100%;
  height: 77%;
  left: -2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.quality-plus-container {
  position: absolute;
  background: #01EFFF;
  width: 25px;
  height: 25px;
  margin: 2rem 0 0 0;
  clip-path: polygon(evenodd, 25% 25%, 50% 25%, 75% 50%, 50% 75%, 25% 50%, 37.5% 37.5%, 37.5% 62.5%, 62.5% 62.5%, 62.5% 37.5%, 50% 37.5%, 62.5% 50%, 50% 62.5%, 37.5% 50%, 43.75% 43.75%, 50% 43.75%, 56.25% 50%, 50% 56.25%, 43.75% 50%, 46.88% 46.88%, 53.13% 46.88%, 53.13% 53.13%, 46.88% 53.13%, 46.88% 46.88%, 50% 43.75%, 56.25% 43.75%, 56.25% 56.25%, 43.75% 56.25%, 43.75% 43.75%, 50% 37.5%, 37.5% 37.5%, 50% 25%, 75% 25%, 75% 75%, 25% 75%, 0% 50%, 50% 0%, 100% 50%, 50% 100%, 25% 75%);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.quality-content {
  position: absolute;
  left: 4rem;
  width: 100%;
  height: 3.5rem;
  padding-top: 1.5rem;
  color: #F0FFFF;
  letter-spacing: 0.4rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

/*------------------- Links Container ---------------------*/
.links-container {
  /*border: 1px solid yellow;*/
  position: absolute;
  bottom: 8rem;
  width: 85%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
}

.links-container > div > a {
  width: 4rem;
  height: 4rem;
  font-size: 1.1rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------- About Me Content ---------------------*/
.abt-content-container {
  /*border: 1px solid yellow;*/
  flex-grow: 0.1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.abt-content-holder {
  flex-grow: 2;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.my-content-holder {
  flex-grow: 1;
  /*border: 1px solid blue;*/
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.my-content-holder > div:first-child {
  /*border: 1px solid white;*/
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.my-content-holder > div:nth-child(2) {
  /*border: 1px solid white;*/
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.my-content-holder > div:nth-child(3) {
  /*border: 1px solid white;*/
  flex-grow: 1;
}

.my-content-holder > div:last-child {
  /*border: 1px solid white;*/
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.abt-me-hello {
  color: #F0FFFF;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  margin-left: 6rem;
}

.abt-me-iam {
  color: #F0FFFF;
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: 1.5rem;
  margin: -2rem 0 0 6rem;
}

.abt-me-iam > b {
  font-size: 3rem;
  font-family: "Courgette", cursive;
  background: -webkit-linear-gradient(#01EFFF, #06b5c4, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.abt-me-para {
  color: #D3D3D3;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
}

.anim-text {
  position: absolute;
  color: #F0FFFF;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1.5rem;
  margin: -2rem 0 0 7rem;
  display: flex;
  align-items: center;
}

.anim-text > b {
  font-size: 3.4rem;
  text-transform: uppercase;
}

.anim-text b::before {
  content: "";
  color: #01EFFF;
  animation: words 8s steps(2) infinite;
}

.anim-text b::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 100%;
  border-left: 2px solid #01EFFF;
  right: -8px;
  background-color: #021c3b;
  animation: cursor 8s infinite, typing 20s steps(17) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #01EFFF;
  }
}
@keyframes words {
  0%, 50% {
    content: "Web Developer";
  }
  55%, 100% {
    content: "Android Developer";
  }
}
@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
    width: 95%;
  }
}
.abt-btn-holder { /* About me Button */
  /*border: 1px solid deeppink;*/
  flex-grow: 1.5;
  display: flex;
  justify-content: space-evenly;
}

.abt-btn-holder > a {
  text-decoration: none;
}

/*  BUTTONS  */
.btn {
  width: 17rem;
  height: 5rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem, -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn__secondary {
  grid-column: 1/2;
  grid-row: 5/6;
  color: var(--greyDark);
}

.btn__secondary:hover {
  color: var(--primary);
}

.btn__secondary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.btn p {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}

/*---------------------------------------------------------------------------------------*/
/*----------------------- Skill Anim Container --------------------------*/
.skills-anim-container {
  /*border: 1px solid red;*/
  width: 100%;
  height: 15vh;
  background: #021c3b;
  display: flex;
  justify-content: space-evenly;
}

.scroller {
  max-width: 80vw;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  gap: 10rem;
  justify-content: space-around;
}

.scroller__inner img {
  width: 7.5rem;
  height: 7.5rem;
}

.scroller[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated=true] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction=right] {
  --_animation-direction: reverse;
}

.scroller[data-direction=left] {
  --_animation-direction: forwards;
}

.scroller[data-speed=fast] {
  --_animation-duration: 50s;
}

.scroller[data-speed=slow] {
  --_animation-duration: 70s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/*# sourceMappingURL=about-page.css.map */
