@import "veriables";

.contact-me{
  background-color: $primary-bg-color;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contact-heading{
  /*border: 1px solid red;*/
  flex-grow: 1;

  color: $page-heading;
  font-size: 3.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2rem;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.contact-container{
  /*border: 1px solid red;*/
  flex-grow: 3;

  display: flex;
  justify-content: space-between;
}
.contact-form-container{
  /*border: 1px solid blue;*/
  flex-grow: 2;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contact-form-heading{
  /*border: 1px solid yellow;*/
  flex-grow: 1;

  font-size: 3.5rem;
  color: $primary-color;
  letter-spacing: 0.3rem;

  h2{
    margin-left: 3rem;
  }
}
.contact-form-fullName{
  /*border: 1px solid yellow;*/
  flex-grow: 1;

  input{
    width: 50rem;
    height: 6rem;
    border-radius: 1.4rem;
    background-color: #e3f4f4;
    padding-left: 2.5rem;
    font-size: 2rem;
    outline: #01EFFF;
    margin-left: 3rem;
  }
  input:hover{
    border: 0.3rem solid #01EFFF;
  }
  input::placeholder{
    font-size: 2rem;
    color: #565a5a;
    letter-spacing: 0.4rem;
  }
}
.contact-form-email{
  /*border: 1px solid yellow;*/
  flex-grow: 1;

  input{
    width: 50rem;
    height: 6rem;
    border-radius: 1.4rem;
    background-color: #e3f4f4;
    padding-left: 2.5rem;
    font-size: 2rem;
    outline: none;
    margin-left: 3rem;
  }
  input:hover{
    border: 0.3rem solid #01EFFF;
  }
  input::placeholder{
    font-size: 2rem;
    color: #565a5a;
    letter-spacing: 0.4rem;
  }
}
.contact-form-textarea{
  /*border: 1px solid yellow;*/
  flex-grow: 2;

  textarea{
    padding-top: 1.5rem;
    width: 60rem;
    height: 15rem;
    border-radius: 1.4rem;
    background-color: #e3f4f4;
    padding-left: 2.5rem;
    font-size: 2rem;
    resize: none;
    overflow: hidden;
    outline: none;
    margin-left: 3rem;
  }
  textarea:hover{
    border: 0.3rem solid #01EFFF;
  }
  textarea::placeholder{
    font-size: 2rem;
    color: #565a5a;
    letter-spacing: 0.4rem;
  }
}

.contact-button{
  position: relative;
  left: 3rem;
  bottom: 2rem;
  width: 8rem;
  height: 6rem;
  font-size: 2.4rem;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  color: #01EFFF;
  border: none;

  :focus{
    outline: none;
  }
}

.contact-info-container{
  /*border: 1px solid blue;*/
  flex-grow: 2;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contact-info-heading{
  /*border: 1px solid yellow;*/
  flex-grow: 0.3;

  h2{
    font-size: 2.8rem;
    color: #FFFFFF;
    letter-spacing: 0.1rem;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info-whatsapp{
  /*border: 1px solid yellow;*/
  flex-grow: 1;

    display: flex;
    justify-content: space-between;
}
.contact-info-email{
  /*border: 1px solid yellow;*/
  flex-grow: 1;

  display: flex;
  justify-content: space-between;
}
.contact-info-address{
  /*border: 1px solid yellow;*/
  flex-grow: 1;

  display: flex;
  justify-content: space-between;
}
.contact-info-temp{
  /*border: 1px solid yellow;*/
  flex-grow: 1;
}

.contact-info-img-container{
  /*border: 1px solid red;*/
  flex-grow: 2;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  a{
    text-decoration: none;

    i{
      position: relative;
      top: 2rem;
      left: 18rem;
      font-size: 4.8rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.contact-info-detail-container{
  /*border: 1px solid red;*/
  flex-grow: 1;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .contact-info-title{
    /*border: 1px solid red;*/
    flex-grow: 1;

    a{
      text-decoration: none;

      h3{
        color: $secondary-color;
        font-size: 2.2rem;
        font-weight: bold;
        letter-spacing: 3px;
        text-transform: uppercase;

        display: flex;
        justify-content: center;
        align-items: flex-end;
      }
    }
  }
  .contact-info-detail{
    /*border: 1px solid red;*/
    flex-grow: 3;

    a{
      text-decoration: none;

      h4{
        color: #c6d8d8;
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: 2px;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}



