@import "veriables";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}
html{
  font-size: 62.5%; /* 16px * 0.625 = 10px */
}
.main-page {
  position: relative;
  width: 100%;
  height: 100vh;
  /*border: 1px solid blue;*/
}
.main-container {
  width: 100%;
  height: 75vh;
  /*border: 1px solid hotpink;*/

  display: flex;
  justify-content: space-between;
}

/*----------------------- Content Container ---------------------------*/
.main-content{
  /*border: 1px solid blue;*/
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vision{
  /*border: 1px solid yellow;*/
  flex-grow: 5;

  letter-spacing: 4rem;
  font-size: 4.5rem;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  animation: animVision 6s ease-in;
}
.into{
  /*border: 1px solid red;*/
  flex-grow: 1;

  letter-spacing: 2.3rem;
  font-size: 4.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: animInto 6s ease-in;
}
.reality{
  /*border: 1px solid yellow;*/
  flex-grow: 1;

  letter-spacing: 4rem;
  font-size: 4.5rem;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  animation: animReality 6s ease-in;
}
.sub-intro{
  /*border: 1px solid red;*/
  flex-grow: 3;

  color: $secondary-fadeLight-color;
  font-family: $main-font;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;

  display: flex;
  justify-content: center;

  animation: subIntro 6s ease-in;
}

.home-headings{
  background: $home-headings-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  filter: drop-shadow(2.5rem 2.5rem 0.6rem #38495a);
}
@keyframes animVision {
  0%	, 10% {
    transform: translateY(-2.6rem);
    opacity: 0;
  }
  25%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animInto {
  0%	, 25% {
    transform: translateY(-2.6rem);
    opacity: 0;
  }
  40%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animReality {
  0%	, 40% {
    transform: translateY(-2.6rem);
    opacity: 0;
  }
  55%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes subIntro {
  0%	, 50% {
    transform: translateY(-2rem);
    opacity: 0;
  }
  65%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*----------------------- Spaceship Container ---------------------------*/
.main-anim-img{
  position: relative;
  /*border: 1px solid red;*/
  flex-grow: 2;
}
.spaceship-container{
  /*border: 1px solid palegoldenrod;*/

  position:absolute ;
  top: 8rem;
  left: 15rem;
  width: 8rem;
  height: 8rem;

  animation: animSpaceShip 5s infinite ease;
}
.spaceship{
  width: 6.9rem;
  height: 6.9rem;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes animSpaceShip {
  0%{
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  20%{
    transform: translateX(-30rem) translateY(2rem);
    opacity: 0;
  }
  55%{
    transform: translateX(-8rem) translateY(8rem);
    opacity: 1;
  }
  85%{
    transform: translateX(10rem) translateY(18rem);
    opacity: 1;
  }
  100%{
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
}