@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); /* Main Font */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap"); /* MPS Vihnga */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap"); /* Need info */
/* -------- Home page --------- */
/* -------- About page --------- */
/* -------- About page buttons--------- */
:root {
  --primary: #01EFFF;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

/* -------- Service page --------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 7px;
  background: #021c3b;
}

html::-webkit-scrollbar-thumb {
  background-color: #01EFFF;
  border-radius: 10px;
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 2;
  transition: all 0.3s ease;
  /*border: 1px solid red;*/
}

.navbar.sticky {
  background: #021c3b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 70px;
  height: 70px;
  /*border: 1px solid blue;*/
}

.logo-img {
  position: relative;
  top: 5px;
  width: 65px;
  height: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*border: 1px solid deeppink;*/
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  position: relative;
  top: 3px;
  color: #F0FFFF;
  font-size: 19px;
  margin-left: 25px;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.1s ease;
}

.menu-list li a:hover {
  color: #01EFFF;
  border-color: #01EFFF;
  border-width: 2px;
  border-style: none none solid none;
  transition: all 0.1s ease;
}

.icon {
  color: #F0FFFF;
  font-size: 35px;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn {
  position: relative;
  right: 8px;
  top: 5px;
}

@media (max-width: 1440px) {
  .content {
    padding: 0 60px;
  }
}
@media (max-width: 1024px) {
  .content {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #021c3b;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}
@media (max-width: 425px) {
  .navbar .logo a {
    font-size: 27px;
  }
}
@media (max-width: 375px) {
  .navbar .logo a {
    font-size: 25px;
  }
}

/*# sourceMappingURL=nav.css.map */
