@import "veriables";

.portfolio{
  background-color: $primary-bg-color;
  width: 100%;
  height: 120vh;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.portfolio-heading{
  /*border: 1px solid red;*/
  flex-grow: 0.5;

  color: $page-heading;
  font-size: 3.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2rem;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.portfolio-content{
  border: 1px solid red;

}














/* --------------- Button ----------------- */
.portfolio-btn-section{
  width: 100%;
  height: 13vh;
  background: $primary-bg-color;

}
.portfolio-btn{
  width: 100%;
  height: 100%;
  /*border: 1px solid blue;*/

  a{
    font-size: 2.3rem;
    top: 2rem;
    color: $primary-color;
    text-decoration: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}