@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); /* Main Font */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap"); /* MPS Vihnga */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap"); /* Need info */
/* -------- Home page --------- */
/* -------- About page --------- */
/* -------- About page buttons--------- */
:root {
  --primary: #01EFFF;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

/* -------- Portfolio page --------- */
/* -------- Service page --------- */
/* -------- Footer --------- */
.portfolio {
  background-color: #021c3b;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.portfolio-heading {
  /*border: 1px solid red;*/
  flex-grow: 0.5;
  color: #F3FFFF;
  font-size: 3.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.portfolio-content {
  /*border: 1px solid red;*/
  flex-grow: 4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.portfolio-projects-line01 {
  /*border: 1px solid blue;*/
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.portfolio-projects-line02 {
  /*border: 1px solid blue;*/
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.div-all {
  /*border: 1px solid yellow;*/
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-bg-container {
  width: 90%;
  height: 90%;
  /*border: 1px solid red;*/
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* --------- Project img ---------- */
.project-img-container {
  /*border: 1px solid white;*/
  flex-grow: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img {
  /*border: 1px solid deeppink;*/
  width: 90%;
  height: 95%;
  position: relative;
}

.project-img-fit {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 200ms all linear;
}

.project-img-fit:hover {
  transition: 200ms all linear;
  transform: scale(1.05);
}

/* --------- Project Topic ---------- */
.project-topic {
  /*border: 1px solid white;*/
  flex-grow: 0.1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main-topic {
  /*border: 1px solid yellow;*/
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-topic a {
  text-decoration: none;
}
.main-topic a span {
  color: #F0FFFF;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
}
.main-topic :hover {
  color: #01EFFF;
}

.project-category {
  /*border: 1px solid yellow;*/
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-category a {
  text-decoration: none;
}
.project-category a span {
  color: #9baacf;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

/* --------------- Button ----------------- */
.portfolio-btn-section {
  width: 100%;
  height: 13vh;
  background: #021c3b;
}

.portfolio-btn {
  width: 100%;
  height: 100%;
  /*border: 1px solid blue;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-btn a {
  font-size: 2.3rem;
  top: 2rem;
  color: #01EFFF;
  text-decoration: none;
}

/*# sourceMappingURL=portfolio-page.css.map */
